[Unit]
Description=Wait for Dory host desktop configuration
After=dory-boot.service
Before=display-manager.service
Requires=dory-boot.service

[Service]
Type=oneshot
ExecStart=/usr/lib/dory/wait-host-configuration
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
