[Unit]
Description=Dory compressed desktop swap
After=systemd-modules-load.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/lib/dory/configure-zram
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
