<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DoryMinimumReadableDataSchema</key>
	<integer>1</integer>
	<key>DoryMaximumReadableDataSchema</key>
	<integer>1</integer>
	<key>SUFeedURL</key>
	<string>https://augani.github.io/dory/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>AFetajNbqZty68rRY7OMWYNt6suUsrokQmYMhDJtnP4=</string>
	<key>DoryComponentCatalogURL</key>
	<string>https://augani.github.io/dory/components/arm64/catalog.json</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>dev.dory.component-selection</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dory</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dory Data Drive</string>
			<key>UTTypeIdentifier</key>
			<string>dev.dory.data-drive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dorydrive</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dory Data Backup</string>
			<key>UTTypeIdentifier</key>
			<string>dev.dory.data-backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dorybackup</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
